<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesProcessMaterialMapper">

    <resultMap type="com.ruoyi.system.domain.IcesProcessMaterial" id="IcesProcessMaterialResult">
        <result property="pmId" column="pm_id"/>
        <result property="pmCode" column="pm_code"/>
        <result property="procCode" column="proc_code"/>
        <result property="psCode" column="ps_code"/>
        <result property="maCode" column="ma_code"/>
        <result property="pmDemand" column="pm_demand"/>
        <result property="pmUnit" column="pm_unit"/>
        <result property="pmDelete" column="pm_delete"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
