<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesMaterialMapper">

    <resultMap type="com.ruoyi.system.domain.IcesMaterial" id="IcesMaterialResult">
        <result property="maId" column="ma_id"/>
        <result property="maName" column="ma_name"/>
        <result property="maDelete" column="ma_delete"/>
        <result property="maDesc" column="ma_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="maCode" column="ma_code"/>
        <result property="maType" column="ma_type"/>
        <result property="maOccupy" column="ma_occupy"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
