<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesProductRecordMapper">

    <resultMap type="com.ruoyi.system.domain.IcesProductRecord" id="IcesProductRecordResult">
        <result property="prrId" column="prr_id"/>
        <result property="prId" column="pr_id"/>
        <result property="prrType" column="prr_type"/>
        <result property="prrEst" column="prr_est"/>
        <result property="prrReal" column="prr_real"/>
        <result property="prrDelete" column="prr_delete"/>
        <result property="prrDesc" column="prr_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
