<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesExceptionRecordMapper">

    <resultMap type="com.ruoyi.system.domain.IcesExceptionRecord" id="IcesExceptionRecordResult">
        <result property="exrId" column="exr_id"/>
        <result property="exrCode" column="exr_code"/>
        <result property="excCode" column="exc_code"/>
        <result property="exCode" column="ex_code"/>
        <result property="exrDesc" column="exr_desc"/>
        <result property="exrParam" column="exr_param"/>
        <result property="exrStat" column="exr_stat"/>
        <result property="exrLevel" column="exr_level"/>
        <result property="exrUserReport" column="exr_user_report"/>
        <result property="exrUserHandle" column="exr_user_handle"/>
        <result property="exrUserFinish" column="exr_user_finish"/>
        <result property="exrUserResp" column="exr_user_resp"/>
        <result property="exrDuration" column="exr_duration"/>
        <result property="exrImpactFactor" column="exr_impact_factor"/>
        <result property="exrImpactLevel" column="exr_impact_level"/>
        <result property="exrDelete" column="exr_delete"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
