<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesMaterialStockMapper">

    <resultMap type="com.ruoyi.system.domain.IcesMaterialStock" id="IcesMaterialStockResult">
        <result property="mssId" column="mss_id"/>
        <result property="mssCode" column="mss_code"/>
        <result property="msCode" column="ms_code"/>
        <result property="maCode" column="ma_code"/>
        <result property="mssStock" column="mss_stock"/>
        <result property="mssDelete" column="mss_delete"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
