<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesManufacturePlanMapper">

    <resultMap type="com.ruoyi.system.domain.IcesManufacturePlan" id="IcesManufacturePlanResult">
        <result property="mpId" column="mp_id"/>
        <result property="mpCode" column="mp_code"/>
        <result property="orCode" column="or_code"/>
        <result property="prCode" column="pr_code"/>
        <result property="mpStat" column="mp_stat"/>
        <result property="mpBegin" column="mp_begin"/>
        <result property="mpEndPlan" column="mp_end_plan"/>
        <result property="mpEndReal" column="mp_end_real"/>
        <result property="mpPriority" column="mp_priority"/>
        <result property="mpQtyPlan" column="mp_qty_plan"/>
        <result property="mpQtyReal" column="mp_qty_real"/>
        <result property="mpDelete" column="mp_delete"/>
        <result property="mpDesc" column="mp_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="mpCman" column="mp_cman"/>
        <result property="mpCdate" column="mp_cdate"/>
        <result property="mpRman" column="mp_rman"/>
        <result property="mpRdate" column="mp_rdate"/>
        <result property="mpMman" column="mp_mman"/>
        <result property="mpMdate" column="mp_mdate"/>
    </resultMap>


</mapper>
