<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesRefundRecordMapper">

    <resultMap type="com.ruoyi.system.domain.IcesRefundRecord" id="IcesRefundRecordResult">
        <result property="rrId" column="rr_id"/>
        <result property="rrCode" column="rr_code"/>
        <result property="orCode" column="or_code"/>
        <result property="prCode" column="pr_code"/>
        <result property="clCode" column="cl_code"/>
        <result property="rrCount" column="rr_count"/>
        <result property="rrDelete" column="rr_delete"/>
        <result property="rrDesc" column="rr_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="rrMan" column="rr_man"/>
        <result property="rrDate" column="rr_date"/>
    </resultMap>


</mapper>
