<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesManufactureTaskMapper">

    <resultMap type="com.ruoyi.system.domain.IcesManufactureTask" id="IcesManufactureTaskResult">
        <result property="mtId" column="mt_id"/>
        <result property="mtCode" column="mt_code"/>
        <result property="mpCode" column="mt_code"/>
        <result property="procCode" column="proc_code"/>
        <result property="arCode" column="ar_code"/>
        <result property="msCode" column="ms_code"/>
        <result property="prsCode" column="prs_code"/>
        <result property="mtStat" column="mt_stat"/>
        <result property="mtBegin" column="mt_begin"/>
        <result property="mtEndPlan" column="mt_end_plan"/>
        <result property="mtEndReal" column="mt_end_real"/>
        <result property="mtPriority" column="mt_priority"/>
        <result property="mtQtyPlan" column="mt_qty_plan"/>
        <result property="mtQtyReal" column="mt_qty_real"/>
        <result property="mtDelete" column="mt_delete"/>
        <result property="mtDesc" column="mt_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="mtCman" column="mt_cman"/>
        <result property="mtCdate" column="mt_cdate"/>
        <result property="mtRman" column="mt_rman"/>
        <result property="mtRdate" column="mt_rdate"/>
        <result property="mtMman" column="mt_mman"/>
        <result property="mtMdate" column="mt_mdate"/>
    </resultMap>


</mapper>
