<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesProcessStepPrevRoundMapper">

    <resultMap type="com.ruoyi.system.domain.IcesProcessStepPrevRound" id="IcesProcessStepPrevRoundResult">
        <result property="psprId" column="pspr_id"/>
        <result property="psIdCur" column="ps_id_cur"/>
        <result property="psIdPrev" column="ps_id_prev"/>
        <result property="psprDelete" column="pspr_delete"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
