<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.IcesAreaControlMapper">

    <resultMap type="com.ruoyi.system.domain.IcesAreaControl" id="IcesAreaControlResult">
        <result property="acId" column="ac_id"/>
        <result property="acCode" column="ac_code"/>
        <result property="arCode" column="ar_code"/>
        <result property="acName" column="ac_name"/>
        <result property="acIp" column="ac_ip"/>
        <result property="acDelete" column="ac_delete"/>
        <result property="acDesc" column="ac_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
